
@import "tailwindcss";


@theme {
  --color-foreground: #ededed;
  --color-primary: #131a24;
  --color-primary-light: #253346;
  --color-secondary: #1a2431;
  --color-accent: rgb(211, 186, 132);
  --font-family-heading: 'Barlow Condensed', sans-serif;
  --font-family-body: 'Roboto', sans-serif;
   --background: var(--color-primary)
}


body {
  background: var(--background);
  color: var(--color-foreground);
  font-family: var(--font-family-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
  color: var(--color-accent);
}

ul, ol {
  margin-top: 0.5rem;

}

li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

blockquote {
  border-left: 4px solid var(--accent-color);
  padding-left: 1rem;
  margin-left: 0;
  font-style: italic;
}

button {
  cursor: pointer;

}

button:disabled {
  cursor: default;
}

/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent) !important;
  border-radius: 0  !important;
}
